@model GummiBearKingdom.Models.Item

<html>
<head>
    <title>Gummy Bear - Delete</title>
</head>
<body>
    <h2>Are you sure you want to delete this gummy?</h2>
    <hr />
    @Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)
    @using (Html.BeginForm())
    {
        <input type="submit" value="Delete" />
    }
    @Html.ActionLink("Back to List", "Index")
</body>
</html>