@model GummiBearKingdom.Models.Item
@{
    ViewData["Title"] = "Item - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html>
<head>
    <title>Gummi Bear Kingdom - Details</title>
</head>
<body>
    <h2>Details</h2>
    <hr />
    @Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)
    <h2>Add Review for Bear</h2>
    @Html.TextBoxFor(model => model.Description)
    <p>@Html.ActionLink("Back to list", "Index")</p>
</body>
</html>